.jq-calculator{
    margin:15px;
    position:relative;
    display:block;
    background: -webkit-linear-gradient(top, #edf3fe 0%, #d9e4f0 100%);
    background-image: -webkit-gradient(
    	linear,
    	left top,
    	left bottom,
    	color-stop(0, #edf3fe),
    	color-stop(1, #d9e4f0),
    );
    width:120px;
    height:135px;
    border-radius:5px;
    padding:5px;
    border:3px solid #cae0f8 ;
    box-shadow: 3px 3px 5px #888888;
}
.jq-calculator input{
    line-height:180%;
    width:100%;
    background: -webkit-linear-gradient(bottom, #FFFFFF 0%, #e7edfb 100%);
    border-radius:3px;
    border:1px solid #a0abba;
    font-family:arial,san-serif;
    font-size: 10px;
}
.jq-calculator button:hover{
    background:#FFDE85;
}
.jq-calculator button{
    margin:2px;
    border:1px solid gray;
    background: -webkit-linear-gradient(top, #f6fafe, #eaf1f8);
    border-radius:2px;
    width:19px;
    height:15px;
    font-family:arial,san-serif;
    font-size:6px;
    text-align:center;
    color:#4a689d
}
.jq-calculator .memory{
     display: block;
     width: 10px;
     height: 10px;
     position: absolute;
     top: 16px;
     right: 5px;
     font-size: 8px;
}
.jq-calculator.operator{
    background: -webkit-linear-gradient(top, #ecf2f8, #d5e0ee)
}
.jq-calculator .number{
    border:1px solid #a0abba;
    background: -webkit-linear-gradient(top, #f6fafe, #eaf1f8)
}
.jq-calculator button[value="="]{
    position:relative;
    height: 15px;
    width: 43px;
    background: -webkit-linear-gradient(top, #ecf2f8, #d5e0ee)
}
.jq-calculator button[value="0"]{
    width:43px;
}
.jq-calculator button[value="C"]{
    height:15px;
}
.jq-calculator .numbers{
    width:70px;
    float:left
}
.jq-calculator .operators{
    width:50px;
    float:left
}
.jq-calculator .mem-operators{

}
.jq-calculator input[type="button"]{
width:50px;
}
.barbie{
    background-image: linear-gradient(bottom, #F5DFE5 31%, #F095B0 66%);
    background-image: -o-linear-gradient(bottom, #F5DFE5 31%, #F095B0 66%);
    background-image: -moz-linear-gradient(bottom, #F5DFE5 31%, #F095B0 66%);
    background-image: -webkit-linear-gradient(bottom, #F5DFE5 31%, #F095B0 66%);
    background-image: -ms-linear-gradient(bottom, #F5DFE5 31%, #F095B0 66%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.31, #F5DFE5),
        color-stop(0.66, #F095B0)
    );
    width: 148px;
    height: 170px;
    border:3px solid #F76C96 ;
    box-shadow: 3px 3px 5px #888888;
}
.barbie input{
     background: -webkit-linear-gradient(bottom, #FFFFFF 0%,  #FAF5F7  100%);
     border:1px solid #CC7690;
}
.barbie button {
    background: -webkit-linear-gradient(top, #f6fafe, #eaf1f8);
    width: 25px;
    height: 20px;
    color:#CC7690

}
.barbie button:hover{
    background:#FFDE85;
}
.barbie .number{
        border:1px solid #CC7690;
        background: #ffffff;
}
.barbie .operator{
        border:1px solid #CC7690;
        background: -webkit-linear-gradient(top, white, #E3D9D7 );
}
.barbie .numbers{
    width: 90px;
    float:left
}
.barbie .operators{
    width:58px;
    float:left;
    margin-left:-2px
}
.barbie button[value="="]{
    position:relative;
    border:1px solid #CC7690;
    width:54px;
    height:20px;
    background: -webkit-linear-gradient(top, white, #E3D9D7 );
}
.barbie button[value="0"]{
    width:54px;
}
.barbie button[value="C"]{
    height: 20px;
    border: 1px solid #CC7690;
    background: -webkit-linear-gradient(top, white, #E3D9D7 )
}
.barbie button[value="CE"]{
    height: 20px;
    border: 1px solid #CC7690;
    background: -webkit-linear-gradient(top, white, #E3D9D7 )
}

.theme2{
    background:#e3d9d7;
    width: 177px;
    height: 239px;
    border:3px solid #f0ae08 ;
    box-shadow: 3px 3px 5px #888888;
    border-radius:12px;
}
.theme2 input{
     background: #B9EDFA;
     border: 2px solid #F0AE08;
     border-bottom: 6px solid #F0AE08;
     width: 185px;
     margin-left: -6px;
     height: 33px;
     margin-top: -5px;
     border-radius: 10px 10px 0 0;
}
.theme2 button{
   width:30px;
   height:30px;
   color: black;
   border-radius: 15px;
   box-shadow: 2px 2px 2px grey;
   font-weight: bold;
   font-size: 19px;
   text-align: center;
}

.theme2 .numbers {
    width:104px;
}

.theme2 .mem-operator{
    font-size: 12px;
}
.theme2 .operators{
   width:73px;
}
.theme2 .operator{
     background: -webkit-linear-gradient(top, white, #F0AE08 );
     box-shadow: 3px 3px 3px grey;
     border: 1px solid grey;
}
.theme2 .other-operator{
    font-size: 12px;
    background: -webkit-linear-gradient(top, white, #F0AE08 );
    box-shadow: 3px 3px 3px grey;
    border: 1px solid grey;
}
.theme2 button[value="0"]{
    width: 64px;
    height:30px;
    border-radius:15px;
}
.theme2 button[value="C"]{
    box-shadow: 3px 3px 3px grey;
    border: 1px solid grey;
    font-size: 12px;
    height:30px;
    background: -webkit-linear-gradient(top, white, #F0AE08 );
}
.theme2 button[value="CE"]{
    box-shadow: 3px 3px 3px grey;
    border: 1px solid grey;
    font-size: 12px;
    background: -webkit-linear-gradient(top, white, #F0AE08 );
}
.theme2 button[value="="]{
    width:69px;
    box-shadow: 3px 3px 3px grey;
    border: 1px solid grey;
    height: 30px;
    background: -webkit-linear-gradient(top, white, #F0AE08);
}